/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Personal css */

main {
  background-color: #02070b;
}

.global-container {
  max-width: 1000px;
  padding: 50px 40px;
  box-sizing: content-box;
  margin: 0 auto;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h1,
h2,
h3 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  background-color: #ffb997;
  display: inline;
  color: #02070b;
  padding: 0px 10px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
  font-weight: 500;
}
